/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

div#page > .custombanneralert  {
    display: none!important;
}
.home .breadcrumbs-row{
	display: none !important;
}
body .breadcrumbs-row a:hover{
    color: #fff!important;
}
.ast-above-header-section .address p,
.ast-above-header-section .storename {
	margin-bottom: 0px !important;
	color: #f8fbfb !important;
    font-weight: 600;
}
.main-header .storename .phone a span,
.main-header .storename .phone a{
	color: #f8fbfb !important;
}
.main-header .storename{
	margin-bottom: 0px !important;
}
.button-get-direction .storename .fl-button span{
	color:#fff;
}
.product-detail-layout-6 .dual-button a,
.product-detail-layout-6 .button-wrapper>a,
.product-grid .fl-post-grid-text .plp_box_btn{
	background:#000;
	border-radius:0px;
	border:0px!important;
	color:#fff!important;
}

.product-detail-layout-6 .button-wrapper a.getcoupon-btn,
.button-get-direction .storename .fl-button{
	background:#000;
	border-radius:0px;
	border:0px!important;
	color:#fff!important;
}
.gform_legacy_markup_wrapper .gfield_time_hour input[type=number], 
.gform_legacy_markup_wrapper .gfield_time_minute input[type=number],
.gform_legacy_markup_wrapper.gf_browser_chrome ul.gform_fields li.gfield select{
	margin-top:0px!important;
	margin-top:0px!important;
	max-height:60px;
	padding-left:10px!important;
	padding-right:10px!important;
}
.product-detail-layout-6 .button-wrapper>a:hover,
.product-detail-layout-6 .dual-button a:hover,
.product-grid .fl-post-grid-text .plp_box_btn:hover,
.button-get-direction .storename .fl-button:hover{
	background:#cf2127!important;
}
.main-header .storename .phone a:hover span,
.main-header .address a:hover p,
.main-header .storename .phone a:hover{
	color: #cf2127 !important;
}
.main-header .address a > p:first-child:before {
    content: "\f041";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 5px;
    font-size: 20px;
    vertical-align: inherit;
}
.main-header .storename .phone a:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
.main-header .address a{
	display: flex !important;
	flex-wrap: wrap;
}
.main-header .address a > p:last-child{
	padding-left: 10px;
}
.main-header .address a > p{
	color: #f8fbfb !important;
	margin: 0px !important;
}
footer a:hover,
footer a:hover span{
    color: #cf2127!important;
}
.ast-above-header-wrap .ast-container{
	max-width: 1100px !important;
}
.custombanneralert.custom {
    padding: 0px!important;
}
.bannerCustom p {
    margin: 0px!important;
}
.instockPdp {
	padding-top: 260px!important;
}
.instockPdp .product-swatch-inner .button-wrapper-default{
        clear: left;
}
.fl-slide.fl-slide-0 {
    background-color: #AAA8A7;
}
.instockPdp #product-attributes-wrap {
    padding-top: 40px;
}
.instockPdp .product-colors, .instockPdp .product-attributes > h3 {
    text-align: left!important;
    font-family: 'Montserrat';
}
.instockPdp .product-attributes table {
    font-size: 14px;
}
.instockPdp .product-box h2 {
    font-size: 20px;
    font-weight: 400;
}
.instockPdp .product-box h1 {
    font-size: 28px;
}
.single-instock_carpet .site-content .ast-container, .single-instock_hardwood .site-content  .ast-container,  .single-instock_vinyl .site-content .ast-container,  .single-instock_tile .site-content .ast-container   {
	background-color: #FFF!important;
}
.facetwp-search{
	width: 100%!important;
}
.facet_filters .fl-html {
	display: block!important;
}
.formWrapperPdp .gform_footer input{
	letter-spacing: 0px!important;
}
.uabb-modal-action-wrap .uabb-modal-photo{
	max-height: 435px !important;
	min-height: 435px !important;
	width: 100%;
}
.main-header-bar-wrap .main-header-bar .ast-container .main-header-container .site-branding .site-logo-img {
    padding-right: 0px;
    max-width: 80%;
}
.sub-heading{
	font-size: 16px;
    font-weight: 100;
    line-height: 2;
}

.header-main-layout-2 .site-branding {
    padding-bottom: 0px!important;
}

.main-header-bar-wrap .main-header-bar .ast-container .main-header-container .site-branding .site-logo-img .custom-logo-link .custom-logo-link {
    max-width: 320px;
}

.main-header-bar-wrap .main-header-bar .ast-container .main-header-container .site-branding .site-logo-img .transparent-custom-logo img {
    /*max-width: 100%!important;*/
}

.site-header {
    left: 0px;
    right: 0px;
    position: absolute!important;
}

.site-header .main-header-bar-wrap {
    background: transparent;
}

.site-header .main-header-bar-wrap .main-header-bar {
    background: rgba(0, 0, 0, 0.2);
}

body.home .site-header .main-header-bar-wrap .main-header-bar {
    background: transparent;
}

.main-header-menu .menu-link {
    color: #fff!important
}

.main-header-menu .sub-menu li {
    border-bottom: 1px solid #000;
}

.main-header-menu .sub-menu .menu-link {
    color: #000!important;
}

body.blog .site-header {
    position: static!important;
}

body.blog .site-header .main-header-bar-wrap {
    background: rgba(0, 0, 0, 0.3);
}

.gform_wrapper .gfield_time_hour i {
    margin-top: 20px!important;
}

.gform_wrapper .gfield_time_ampm select {
    width: 100px!important;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px!important;
}

.site-logo-img img {
    max-width: 300px!important;
}

.ast-breadcrumbs-wrapper {
    padding-left: 50px;
}

body.single .main-header-bar-wrap .main-header-bar,
body.category .main-header-bar-wrap .main-header-bar,
body.error404 .main-header-bar-wrap .main-header-bar,
body.search .main-header-bar-wrap .main-header-bar {
    background: rgba(0, 0, 0, 0.3)!important;
}

footer .storename .phone {
    margin-top: 20px;
}

footer .storename .phone a {
    color: #fff;
}

footer .storename .phone a:before {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    content: "\f095";
    margin-right: 5px;
}
footer .storename .address a{
    color: #fff;
    display: flex;
    padding-left: 20px;
    position: relative;
}
footer .storename .address a:before {
    position: absolute;
    left: 0px;
    top: 10px;
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -moz-osx-font-smoothing: grayscale;
    content: "\f041";
    margin-right: 5px;
}

@media(min-width:992px) and (max-width:1024px){
	.ast-above-header{
		padding: 10px 20px !important;
	}
}

@media (max-width:768px) {
    h3.uabb-heading span br {
        display: none;
    }
	header~div.entry-content>.fl-builder-content .fl-row.fl-row-full-width.fl-row-bg-photo.fl-row-bg-fixed>.fl-row-content-wrap {
		padding-top: 0px !important;
	}
	.main-header .address a {
		display: flex !important;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.main-header .fl-rich-text > p{
		display: none !important;
	}
	#rmp_menu_trigger-1204452{
		top: 30px !important;
	}
	.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-section-2,
	.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-1 .ast-above-header-section-1{
		padding: 0px !important;
	}
	header ~ .entry-content > .fl-builder-content .fl-row.fl-row-full-width.fl-row-bg-photo.fl-row-bg-fixed > .fl-row-content-wrap{
		padding-top: 300px !important;
	}
	.ast-header-break-point .ast-above-header-section-separated.ast-above-header-mobile-stack .ast-above-header-section-2 {
		margin-top: -15px !important;
	}
    .aligned-content-center h1.uabb-heading {
        text-align: center !important;
    }
    .aligned-content-center h3.uabb-heading {
        text-align: center !important;
    }
    .aligned-content-center .uabb-subheading.uabb-text-editor p {
        text-align: center !important;
    }
}

@media(max-width:767px) {
    .uabb-gf-style .gform_wrapper ul.gform_fields li.field_sublabel_below:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
        padding-right: 0px!important;
    }
    .main-header-bar-wrap .main-header-bar {
        background: rgba(0, 0, 0, 0.3)!important;
    }
    .site-logo-img img {
        max-width: 300px!important;
    }
    .main-header-bar-wrap .main-header-bar .ast-container .main-header-container .site-branding .site-logo-img {
        max-width: 100%!important;
    }
}

/* Instock pdp css start */

.instockPdp .share .need-share-button_button {
    background-image: url('https://www.greatfloors.com/wp-content/themes/bb-theme-child/images/share/share-icon.png');
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
}
.instockPdp .share .need-share-button_button:before {
    content: ""!important;
}

.instockPdp .button-wrapper-default a{
	border-radius: 5px!important;
	-webkit-border-radius: 5px!important; 
  	-moz-border-radius: 5px!important; 
  	border-radius: 5px!important; 
}
.instock .product-grid.btn-grey>h4>span:nth-child(1) {
    min-height: 30px;
}

/*Instock plp css*/
.instock .product-variations1 .plp_box_orderBtn{
	display: block!important;
}
.instock .product-variations1 .plp_box_orderBtn{
	color: #fff;
    background-color: #848689!important;
    border-style: none;
    border-width: 0px;
    border-radius: 0px;
}
.instock .product-variations1 .plp_box_orderBtn {
	border-radius: 5px!important;
}
.facet_filters .facet-wrap>strong{
	color: #000!important;
	border-color: #000!important;
}
.instock .product-variations1 .plp_box_orderBtn:hover, .instock .product-variations1 .plp_box_orderBtn:focus{
	color: #fff;
}
.instock .product-variations1 .plp_box_btn{
	margin-top: 10px!important;
}
.instock .product-variations1 .price{
	margin-top: 10px!important;
	color: #000000;
     font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
  font-size: 27.65px;
  letter-spacing: 0.29px;
  line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .product-swatch .product-swatch-inner .favProdPdp, .product-row .favProdPdp{
	cursor: pointer!important;
}
.instock .product-variations1 .price sub{
	    font-size: 16px;
    vertical-align: middle;
}
.instock .product-variations1 .price sup{
	    font-size: 16px;
}
.instock .product-row .fl-post-grid-post .instockImgPlp{
	position: absolute;
    top: 0;
    left: 4px;
}
.instockPdp .product-attributes tr td{
	text-align: left!important;
}
/*Instock plp css end*/
/*Instock pdp css start here */
.PDP_form .uabb-gf-style{
	padding-bottom: 0px!important;
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
	background-color: #f6f6f6;	
}
.PDP_form .uabb-tabs-nav ul li:not(.uabb-tab-current) a{
	background-color: #20A276!important;
	color: #fff!important;
}
.PDP_form .uabb-tabs-nav ul li:first-child{
	margin-right: 0px!important;
}
.PDP_form .uabb-tabs-nav ul li:last-child{
	margin-left: 0px!important;
}
.PDP_form .uabb-content{
	padding: 0px!important;	
}
.PDP_form .uabb-gf-form-desc{
	text-align: center!important;	
}
.PDP_form .uabb-tab-acc-content{
	border: none!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email], .PDP_form textarea, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield select, .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=text], .PDP_form .uabb-gf-style .gform_wrapper .gform_body .gfield input[type=email]{
	border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0px!important;
}
.PDP_form select, .PDP_form input[type=text], .PDP_form input[type=email]{
	height: 48px!important; 
}
.PDP_form .mesurmentTool > div{
	padding: 0px!important;
}
.PDP_form .mesurmentTool{
	display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
}

.instockPdp input[type=submit]{
	border-radius: 5px!important;
	-webkit-border-radius: 5px!important; 
  	-moz-border-radius: 5px!important; 
  	border-radius: 5px!important; 
}

.PDP_form .mesurmentTool > div:last-child{
	margin-left: 6px!important;
}
.PDP_form  input[type="radio"], .PDP_form  input[type="checkbox"]{
	margin-top: 0px!important;
}
.PDP_form .liMeasur{
	position: relative;
}
.PDP_form .ginput_container_checkbox label{
	font-size: 12px!important;
	    font-family: "Roboto",sans-serif;
}
.PDP_form .ginput_container_checkbox .gfield_checkbox{
	display: flex;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li label{
	padding-right: 6px!important;
}
.PDP_form .uabb-gf-style .gform_body .ginput_container_checkbox .gfield_checkbox li {
	flex: 1 1 auto;
}
.PDP_form textarea{
	height: 160px!important;
}
.instockPdp .product-colors > .row{
	display: flex;
    align-items: flex-end;
}
.instockPdp .share div{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
}
.instockPdp .product-box.pdp2-leftbox > .row{
	display: flex;
    align-items: flex-end;
}
/* .instockPdp .share span{
	color: #575757;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: 16px;
} */
.instockPdp .share ul, .instockPdp .share ul li{
	margin-top: 0px!important;
	margin-bottom: 0px!important;

}
.instockPdp .MarkInstock{
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instockPdp .MarkInstock span{
	color: #20A276;
    font-family: "Josefin Sans";
    font-size: 20.65px;
    font-weight: bold;
    letter-spacing: 0.36px;
    line-height: 20px;
    margin-left: 8px;
    align-items: center;
}
.instockPdp .price {
    margin-top: 10px!important;
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 27.65px;
    letter-spacing: 0.29px;
    line-height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.instockPdp .product-box h2{
	color: #000!important;
}
.instockPdp .product-box h1{
	color: #000!important;
}
.instockPdp .product-detail-layout-default .product-swatch{
	margin-top: 0px!important;
}	
.instockPdp .product-box.pdp2-leftbox{
	 padding-top: 50px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors ul li {
    margin-bottom: 10px;
}
.instockPdp .product-colors, .instockPdp .product-attributes > h3 {
	text-align: left!important;
}
.instockPdp .slick-track .slide{
	margin-bottom: 0px!important;
	    padding: 0px 4px;
}
.product-swatch-inner #product-images-holder a .main-imgs img {
    position: absolute;
    bottom: auto!important;
    left: 0px;
    top: 0;
    right: 0px;
    margin: auto;
}
.instockPdp #product-images-holder .img-responsive{
	background-position: center top!important;
}   
.instockPdp .toggle-image-thumbnails {
	margin-top: 0px!important;
}
.instockPdp .productHolder{
	position: relative;
}
.instockPdp .product-swatch .product-swatch-inner .favProdPdp {
    position: absolute;
	top: auto!important;
    bottom: 50px!important;
    left: auto;
    right: 10%!important;
}
.instockPdp .product-detail-layout-default .product-variations{
	width: 100%;
	margin: 0 auto!important;
}
.instockPdp .button-wrapper-default a, .button-wrapper-default a.button{
	width: 100%;
}

/*Instock pdp css end here */
@media(min-width: 769px ){
  .fl-slide-foreground {
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .fl-slide-content-wrap {
     width: 100%;
 }
 .fl-slide-content {
    margin: 0px!important;
}
.fl-slide.fl-slide-text-center .fl-slide-photo img {
    
    display: inline-block;
}
	.fl-slide.fl-slide-0 .fl-slide-photo {
		margin: 0px!important;
	}
}
@media(max-width:450px){
	.ast-above-header-section .address a>p,
	.ast-above-header-section .storename .phone a span{
		font-size: 13px !important;
	}
	#rmp_menu_trigger-1204452 {
		top: 22px !important;
	}
}
@media (max-width: 450px){
	#rmp_menu_trigger-1204452 {
		top: 72px !important;
	}
}
.bannerCustom {
    display: none !important;
}






.gform_wrapper .gfield_time_ampm select { width: 65px!important; }
.gform_legacy_markup_wrapper .gfield_time_ampm select {height: 65px !important;}

 
 @media (max-width:820px){
.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {  clear: left!important;}
.facetwp-template .product-grid .product-row>.col-md-4 { width: 33.33%; float: left; clear: none!important;}

}

@media (max-width:600px){
	
.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {  clear: left!important;}
.facetwp-template .product-grid .product-row>.col-md-4 { width: 100%; float: left; clear: none!important;}	
	
}

@media (max-width:400px){

.gform_wrapper.gravity-theme .gfield.gfield--width-half {
    -ms-grid-column-span: 12;
    grid-column: span 12 !important;
}
 
}




















